body {
    margin: 0;
    font-family: $font_family_main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container,
.container-fluid {
    position: relative;
    width: 100%;
    max-width: $layout_container_maxwidth;
    padding-left: $layout_page_padding;
    padding-right: $layout_page_padding;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* no standardized syntax available, no ie-friendly solution available */
  }