.about {
    margin: 150px 0px;

    &__image {
        &__inner {
            width: 100%;
            max-width: 445px;
        }
    }

    &__content {
        margin-top: 50px;

        &__title {
            margin-bottom: 40px;
        }
        &__desc {
            margin: 40px 0;
            color: $colors_gray;
        }
        &__footer {
            display: flex;
            flex-wrap: wrap;

            &__item {
                &:first-child {
                    margin-right: 44px;
                }
    
                &:last-child {
                    margin-left: 54px;
                }

                &__title {
                    text-transform: uppercase;
                    color: $colors_blue;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }

                &__desc {
                    color: $colors_primary;
                    font-size: 48px;
                    line-height: 1.2;
                    font-weight: 300;
                }
            }
        }
    }
}
